<div class="containerDiv">

    <div class="container circleContainer" id="homeContainer">
        <div class="indexDiv">

            <h1 class="defaultH1">Workout Time</h1>
            <p>
                {{#each exer}}
                {{/each}}
            </p>



        </div>
    </div>
</div>
</div>